@font-face {
        font-family: 'Futura Medium';
        src: url('../fonts/futuramed.woff');
        font-weight:normal;
}

@font-face {
        font-family: 'Venuss Medium';
        src: url('../fonts/venussmed.woff');
        font-weight:normal;
}

body, html, h1, h3, h4, p, small {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Futura Medium';
  -webkit-font-smoothing: antialiased;
}

.giveaway {
  font-family: 'Venuss Medium';
  letter-spacing: 20px;
  font-size: 21px;
  line-height: 21px;
  margin: 0 0 25px 0;
}

.logo {
  width: 679px;
  height: 86px;
}

body{
  font-size: 18px;
}

p {
  line-height: 24px;
}

small {
  font-size: 14px;
  line-height: 18px;
}

a {
  color: #000;
}

a:hover {
  color: #ee3d42;
  border-color: rgba(238,61,66,1);
  transition: 0.2s;
}

.info {
  padding: 0px 7% 0;
  clear: both;
}

.column {
  width: 33%;
  float: left;
  text-align: left;
}

.column img {
  width: 30%;
  float: left;
}

.inset {
  margin-left: 36%;
}

.col-inset, .copy {
  padding: 20px;
  display: block;
}

.copy {
  clear: both;
  margin: 0 0 50px 0;
}

h1, h3, h4 {
  font-weight: normal;
}

h1 a {
   text-decoration: none;
}

h1 {
  font-size: 48px;
  line-height: 54px;
  margin: 10px 0 20px 0;
  letter-spacing: -1px;
}

h3 {
  padding-bottom: 5px;
  font-size: 14px;
  line-height: 1.3em;
  border-bottom: 2px solid #000;
  margin: 40px 0 24px 0;
}

h4{
  margin: 0 0 24px 0;
}

.hero, .calltoaction  {
  text-align: center;
  padding: 35px 0;
}

.calltoaction {
  margin: 50px 0 0 0;
  clear: both;
}

.heroimg {
  margin: 30px;
  width: 45%;
}

a img:hover {
  opacity: 0.9;
}

@media only screen and (min-width : 320px) and (max-width : 568px)
        {

          .column {
            width: 100%;
            float: left;
            text-align: left;
          }

          .heroimg {
            margin: 50px 0 0 0;
            width: 90%;
          }

          .giveaway {
            letter-spacing: 5px;
            font-size: 8px;
            line-height: 8px;
            margin: 0 0 5px 0;
          }

          .logo {
            width: 272px;
            height: 35px;
          }

        }
